@media print {
  footer {page-break-after: always;}
}

html {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.bg-img {
  /* The image used */
  background-image: url("Images/Nepal_header.jpg");
  min-height: 380px;
  width: 100%;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  bottom: 4px;
  left: 16px;
  width: auto;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-image: url("Images/Rectacngle.png");
}
.topnav a:hover{
  opacity: 50%;
  text-decoration: solid, wavy;
}
/*Background image for texts*/
.text-back {
  position: absolute;
  width: 1886px;
  height: 340px;
  min-height: 380px;
  
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.text-back::before{
background-image: url("Images/istockphoto-1362239154-612x612.jpg");
opacity: 50%;
}

/* Home texts alignment*/
.home-text {
  position: absolute;
  width: 1321px;
  height: 327px;

  margin-top: 98px;
  left: 62px;
  margin-right: 49px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
}

.front-img1{
  position: absolute;
width: 630px;
height: 345px;
left: 63px;
top: 964px;

background: url("Images/g10.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
transition: transform .2s; /* Animation */
}
.front-img1:hover{
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.front-img2{
position: absolute;
width: 615px;
height: 345px;
left: 735px;
top: 964px;

background: url("Images/back.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
transition: transform .2s; /* Animation */
}
.front-img2:hover{
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.head-img-txt h1{
  /* Popular Activities */
position: absolute;
width: 277px;
height: 39px;
left: 20px;
top: 1355px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
/* identical to box height */
color: #1B1C1E;

}
.img1{
/* expidition 1 */
position: absolute;
width: 306px;
height: 425px;
left: 41px;
top: 1419px;

background: url("Images/expidition.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.home-gallery h3{
  position: absolute;
  left: 11px;
  top: 424px;
  text-decoration: underline;
}
.img2{
  /* Sight seeing 1 */
position: absolute;
width: 477px;
height: 425px;
left: 470px;
top: 1419px;

background: url("Images/Sight\ seeing.webp");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.img3{
  /* trekking 1 */
position: absolute;
width: 321px;
height: 425px;
left: 1070px;
top: 1419px;

background: url("Images/trekking.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.img4{
  /* cultural 1 */
position: absolute;
width: 306px;
height: 425px;
left: 41px;
top: 1941px;

background: url("Images/cultural.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.img5{
  /* Adventure-Activities-in-Nepal 1 */
position: absolute;
width: 477px;
height: 425px;
left: 470px;
top: 1941px;

background: url("Images/Adventure-Activities-in-Nepal.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;

  
}
.img6{
  /* luxury 1 */
position: absolute;
width: 321px;
height: 425px;
left: 1070px;
top: 1941px;

background: url("Images/luxury.webp");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.lower-nav{
  /* lower 1 */
background-image: url("Images/lower.png");
position: relative;
left: 0px;
top: 1750px;
height: 215px;
min-height: 200px;
object-fit: cover;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.lower-nav h2{
  color: #f2f2f2;
  margin-left: 40px;
}
.lower-nav ul li{
  list-style-type: none;
  margin-top: 20px;
}
.img a{
  color: white;
  size: 30px;
  text-decoration: none;
}
.img a:hover{
  color: royalblue;
}

.image1 img{
  background-image: url("Images/g10.jpg");
position:relative;
height: 350px;
width: 600px;
}
.image2 img{
  background-image: url("Images/g9.jpg");
position:relative;
height:350px;
width:615px;
bottom:355px;
left: 620px;
}
.image3 img{
background-image: url("Images/g8.jpg");
position:relative;
height: 350px;
width: 600px;
bottom:350px;
}
.image4 img {
  background-image: url("Images/g1.jpg");
position:relative;
height: 350px;
width: 600px;
bottom:705px;
left:615px;
}
.image5 img {
  background-image: url("Images/g2.webp");
  position:relative;
  width:100%;
  bottom:700px;
 
}
.image6 img {
  background-image: url("Images/g7.jpg");
  position:relative;
height: 350px;
width: 600px;
bottom:695px;
}
.image7 img {
  background-image: url("Images/g5.webp");
  position:relative;
  height: 350px;
  width: 575px;
  bottom:1050px;
  left:615px;

  }
  .image8 img {
    background-image:url("Images/g6.webp");
    position:relative;
    width:100%;
    bottom:1050px;
   
  }
  .lower-nav-gal h2{
    color:#f2f2f2;
    margin-left: 40px;
  }
  .lower-nav-gal ul li{
    list-style:none;
    margin-top:20px;
  }
  .lower-nav-gal {
   background-image: url("Images/lower.png");
  position: relative;
  left: 0px;
  bottom:1050px;
  height: 215px;
  min-height: 200px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  }
/*aboutus texts alignment*/
.aboutus-text p{
  position: absolute;
  left: 24px;
  width: 1221px;
  height: 327px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

/*Table/Form*/
.form{
  font-size: 10px;
  font-style: normal;
  margin-top: 100px;
  resize: none;
  height:100px;
  width: 150px;
}
.writeas{
  position: absolute;
  width: 149px;
  height: 24px;
  left: 116px;
  top: 1111px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  
  color: #000000;
}

.email{
  position: absolute;
  width: 662px;
  height: 47px;
  left: 545px;
  top: 1123px;
  
  background: #D9D9D9;
}
.feedbacks{
  position: absolute;
  width: 231px;
  height: 48px;
  left: 299px;
  top: 1161px;
  
  background: #D9D9D9;
}
.message{
  position: absolute;
  width: 661px;
  height: 182px;
  left: 546px;
  top: 1195px;
  
  background: #D9D9D9;
}
.submit{
  position: absolute;
width: 165px;
height: 44px;
left: 1077px;
top: 1424px;

background: #D9D9D9;
}